@page
@model Yggdrasil.Pages.Users.LoginModel

@{
    ViewData["Title"] = "Login";
}

<h3>Log-in</h3>

<p class="text-danger">@Model.AccessDenied</p>

<form method="post">
    <div class="form-group">
        <label asp-for="User.EmailAddress" class="control-label"></label>
        <input asp-for="User.EmailAddress" class="form-control" />
        <span asp-validation-for="User.EmailAddress" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="User.PasswordCheck" class="control-label"></label>
        <input asp-for="User.PasswordCheck" class="form-control" />
        <span asp-validation-for="User.PasswordCheck" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Log ind" class="btn button btn-primary" />
    </div>
</form>

<p></p>
<p>Har du ingen bruger?</p>
<a class="nav-link" asp-page="/Users/Create">Opret dig her!</a>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}