@*@page
@using Yggdrasil.Models
@model Yggdrasil.Pages.Admin.WareStatsModel
@{
    ViewData["Title"] = "Vare statistik";
}
@foreach (Order o in Model.Orders)
{
    foreach (Ware w in o.OrderedWares)
    {
        Model.Wares[w.Id].AmountSold++;
    }
}

<h4>Antal solgt</h4>
@foreach (Ware w in Model.Wares)
{
    <p>@w.Name : @w.AmountSold</p>
}*@