@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>YGGDRASIL</p>
</div>
<div class="jumbotron container float-right">
    <p>Dette er vores hjemmeside hvorpå man kan bestille varer til afhentning i denne Corona tid. <br/>
        Hvis du er en del af den sårbare gruppe kan du bruge os til at få indkøbt dine dagligvarer.<br/>
        Vi har aftaler med et stort antal dagligvarebutikker, hvor disse varer kan købes. Dine varer vil så blive leveret af privatpersoner i dit lokalområde.</p>
</div>
<p>@Model.User.EmailAddress</p>