@page
@model Yggdrasil.Pages.Login.LoginIndexModel
@{
    ViewData["Title"] = "LoginIndex";
}
<h3>Log-in</h3>

<h4>Log-in med eksisterende bruger:</h4>
<form>
    <label for="name">Email: </label><br>
    <input type="text" id="name" name="name"><br>
    <label for="kode">Password:  </label><br>
    <input type="password" id="kode" name="kode"><br>
</form>
<p></p>
<p>Har du ingen bruger?<a class="nav-link text-dark" asp-area="" asp-page="/Login/SignUp"> Sign up her!</a></p>